@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Glegoo&family=Quicksand&display=swap");

html,
body {
    font-size: 62.5%;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
    margin: 0;
    padding: 30px 0 0;
    overflow-x: hidden;
}

/* removing this from a scoped css because we could have input fields 
across multiple pages */
label,  
input[type="text"],
input[type="number"] {
    font-size: 1.4rem;
    padding: 5px 20px;
    margin: 20px 0 20px 0;
}

.nunito{
	font-family: 'Nunito', sans-serif;
}

h3 {
    line-height: 1.5;
}


.heading {
    font-size: 5rem;
    letter-spacing: 2px;
}

.sub-heading {
    font-size: 4rem;
    letter-spacing: 2px;
}


p {
    font-size: 1.2rem;
}
.container.padding-top {
    margin-top: 13rem;
}

.fade-enter-active, .fade-leave-active {
  transition: all 1s ease-in-out;
}
.fade-enter-to {
    transform: translateY(-509px);
    filter: opacity(1);
}
.fade-leave-to {
     transform: translateY(-300px);
    filter: opacity(0);
}


@media screen and (max-width: 600px) {
    h3 {
        font-size: 1.5rem;
    }

    body {
        font-size: 62.5%;
        font-family: "Quicksand", sans-serif;
        letter-spacing: 1px;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .heading {
        font-size: 4rem;
        letter-spacing: 3px;
    }

    .sub-heading {
        font-size: 1.7rem;
        letter-spacing: 2px;
    }

    .image{
        margin-top: 7rem;
    }

}
